In [1]:
#Importing packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Checking for current directory
import os
os.getcwd()

'/Users/dtendits/pythonproject'

In [3]:
#Creating dataframe out of dataset
gaming_data = pd.read_csv(r"vgsales.csv")

In [4]:
#Checking the first 5 values of the dataframe
gaming_data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [5]:
#Identifying dimensions of the dataframe and amount of values to expect
gaming_data.shape

(16598, 11)

In [6]:
#Identifying all unique gaming platforms within the dataframe
gaming_data['Platform'].unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [7]:
#Idenfifying all unique gaming genres within the dataframe
gaming_data['Genre'].unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

In [8]:
#Idenfifying all unique years within the dataframe
arr_years = gaming_data['Year'].unique()
arr_years

array([2006., 1985., 2008., 2009., 1996., 1989., 1984., 2005., 1999.,
       2007., 2010., 2013., 2004., 1990., 1988., 2002., 2001., 2011.,
       1998., 2015., 2012., 2014., 1992., 1997., 1993., 1994., 1982.,
       2003., 1986., 2000.,   nan, 1995., 2016., 1991., 1981., 1987.,
       1980., 1983., 2020., 2017.])

In [9]:
#Sorting years and outputting them as integer with use of for loop
arr_years.sort()
for year in arr_years:
    print(int(year))

1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2020

ValueError: cannot convert float NaN to integer

In [ ]:
#Idenfifying all unique publishers within the dataframe
gaming_data['Publisher'].unique()

In [ ]:
#Checking for missing values
gaming_data.isnull().sum()

In [ ]:
#After noticing several missing values, I have decided to drop the rows with missing values
gaming_data = gaming_data.dropna()