In [ ]:
#Importing packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests

In [ ]:
#Checking for current directory
import os
os.getcwd()

In [ ]:
#Creating dataframe out of csv dataset
gaming_data = pd.read_csv(r"vgsales.csv")

In [14]:
#Identifying amount of entries, columns, memory usage and data types
gaming_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16291 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16291 non-null  int64
 1   Name          16291 non-null  object
 2   Platform      16291 non-null  object
 3   Year          16291 non-null  float64
 4   Genre         16291 non-null  object
 5   Publisher     16291 non-null  object
 6   NA_Sales      16291 non-null  float64
 7   EU_Sales      16291 non-null  float64
 8   JP_Sales      16291 non-null  float64
 9   Other_Sales   16291 non-null  float64
 10  Global_Sales  16291 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.5+ MB

In [ ]:
#Checking for missing values
gaming_data.isnull().sum()

In [ ]:
#After noticing several missing values, I have decided to drop the rows with missing values
gaming_data = gaming_data.dropna()

In [15]:
#Checking the first 5 and last 5 values of the dataframe
gaming_data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [ ]:
#Identifying all unique gaming platforms within the dataframe
gaming_data['Platform'].unique()

In [ ]:
#Idenfifying all unique gaming genres within the dataframe
gaming_data['Genre'].unique()

In [ ]:
#Idenfifying all unique years within the dataframe
arr_years = gaming_data['Year'].unique()
arr_years

In [ ]:
#Sorting years in ascending fashion
arr_years.sort()
arr_years

In [ ]:
#Idenfifying all unique publishers within the dataframe
gaming_data['Publisher'].unique()

In [19]:
#Identifying top 20 platforms and output as dataframe
top_platforms = gaming_data.Platform.value_counts().head(20)
pd.DataFrame(top_platforms)

      Platform
DS        2131
PS2       2127
PS3       1304
Wii       1290
X360      1234
PSP       1197
PS        1189
PC         938
XB         803
GBA        786
GC         542
3DS        499
PSV        410
PS4        336
N64        316
SNES       239
XOne       213
SAT        173
WiiU       143
2600       116

In [21]:
#Identifying top 20 publishers and output as dataframe
top_publishers = gaming_data.Publisher.value_counts().head(20)
pd.DataFrame(top_publishers)

                                        Publisher
Electronic Arts                              1339
Activision                                    966
Namco Bandai Games                            928
Ubisoft                                       918
Konami Digital Entertainment                  823
THQ                                           712
Nintendo                                      696
Sony Computer Entertainment                   682
Sega                                          632
Take-Two Interactive                          412
Capcom                                        376
Atari                                         347
Tecmo Koei                                    338
Square Enix                                   231
Warner Bros. Interactive Entertainment        217
Disney Interactive Studios                    214
Midway Games                                  196
Eidos Interactive                             196
505 Games                                     192
Microsoft Game Studios                        189

In [20]:
#Identifying top 20 genres and output as dataframe
top_genres = gaming_data.Genre.value_counts().head(20)
pd.DataFrame(top_genres)

              Genre
Action         3251
Sports         2304
Misc           1686
Role-Playing   1470
Shooter        1282
Adventure      1274
Racing         1225
Platform        875
Simulation      848
Fighting        836
Strategy        670
Puzzle          570